@import "../../../styles/index.scss";

.container {
  background: #fff;
  padding: 0rem 2rem;
  padding-top: 2rem;
  margin-top: 2rem;
  display: grid;
  row-gap: 3rem;
}

.section {
  border-bottom: 1px solid mix(white, $primary, 90);
  padding-bottom: 2rem;
  & > h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $primary;
    margin-bottom: 1.5rem;
  }
}

.details {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @include lg {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  row-gap: 1rem;
  h2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $secondary;
  }
  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $secondary;
    word-wrap: break-word;
  }
}
