@import "../../../styles/index.scss";
.container {
  background: #fff;
  padding: 0rem 2rem;
  padding-top: 2rem;
}

.info {
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.name {
  display: flex;
  align-items: center;
  img {
    margin-right: 2rem;
  }
  h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: $primary;
  }
  h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $secondary;
  }
}

.tier {
  border-left: 1px solid mix(white, $secondary, 80);
  border-right: 1px solid mix(white, $secondary, 80);
  margin: 0 1.5rem;
  padding: 0 1.5rem;
  height: 80px;
  display: flex;
  align-items: center;
  h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $secondary;
  }
}

.rating {
  display: flex;
}

.wallet {
  h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: $primary;
  }
  h2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $primary;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 0.6rem;
  }
}

.active {
  border-bottom: 2px solid $button;
  color: $button !important;
  width: 170px;
}
