@import "../../../styles/index.scss";

@mixin statusBorder {
  padding: 0.5rem 0.6rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  background: #fff;
}

.tablecontainer {
  background: #fff;
  padding-bottom: 2rem;
}

.table {
  width: 100%;

  margin-top: 3rem;
  padding: 2rem 2rem;
}

.header {
  display: flex;
  align-items: center;

  span {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: $secondary;
    margin-right: 0.7rem;
  }
}

.recordBody {
  td {
    font-weight: 400;
    font-size: 0.875em;
    line-height: 16px;
    color: $secondary;
    border-bottom: 2px solid #f2f2f2;
    padding: 1rem 0;
  }
}

.active {
  background: mix(white, $active, 90);
  color: $active;
  @include statusBorder;
}

.inactive {
  background: mix(white, $inactive, 90);
  color: $inactive;
  @include statusBorder;
}

.pending {
  background: mix(white, $pending, 90);
  color: $pending;
  @include statusBorder;
}

.blacklisted {
  background: mix(white, $blacklisted, 90);
  color: $blacklisted;
  @include statusBorder;
}

.eclipsedotsicon {
  cursor: pointer;
}

.tableDataHeader {
  position: relative;
}

// className="absolute top-8 right-8 z-10 w-[188px] rounded-md text-[14px] font-light text-vendor"

.popover {
  position: absolute;
  background: #fff;
  right: 2rem;
  z-index: 5;

  a {
    color: $secondary;
    text-decoration: none;
  }
  div {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    cursor: pointer;
    &:hover {
      background: mix(white, $secondary, 90);
    }
  }
  h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    margin-left: 1rem;
  }
}

.modal {
  background: #fff;
  z-index: 10;
  padding: 2rem 1.5rem;
  width: 270px;
  position: absolute;
  bottom: 8rem;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  .form {
    & > div {
      margin-bottom: 2rem;
    }
  }
  .input,
  .select {
    height: 40px;
    margin-top: 0.5rem;
  }
  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $secondary;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  button {
    width: 98px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-radius: 8px;
  }
  .filter {
    background: $button;
    color: #ffffff;
    border: none;
  }
  .reset {
    color: $secondary;
    border: 1px solid $secondary;
    background: #fff;
  }
}

.filter {
  margin-left: 2rem;
  background: mix(white, $secondary, 90);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.skeleton_container {
  margin-top: 3rem;
}

.record_skeleton {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  border-bottom: 2px solid #f2f2f2;
  padding: 1rem 0;
}
